In [21]:
import pandas as pd

In [22]:
BRFSS_df= pd.read_csv("/Users/omarkreidieh/Documents/GitHub/Flu-Project/Output Files/TotalBRFSS.csv")
BRFSS_df.head()

,State,Year,Gender,Age-group,Race,Smoking,Myocardial Infarction,Coronary Artery Disease,Stroke,COPD,Kidney Disease,Diabetes,Flu Vaccine,Flu Vaccine Date,Weighting Variable
0,1.0,b'2013',2.0,9.0,2.0,1.0,2.0,7.0,2.0,1.0,1.0,3.0,2.0,NaN,238.016092
1,1.0,b'2013',2.0,7.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,102012.0,737.694204
2,1.0,b'2013',2.0,8.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,12013.0,568.527386
3,1.0,b'2013',2.0,9.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,NaN,606.976365
4,1.0,b'2013',1.0,10.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,NaN,629.847064

In [23]:
BRFSS_df['Year']=BRFSS_df['Year'].replace({"b'2013'": "2013", "b'2014'": "2014","b'2015'":"2015", "b'2016'": "2016" })
BRFSS_df['Year']=pd.to_numeric(BRFSS_df["Year"])
BRFSS_groupby = BRFSS_df.groupby(["Year", "Flu Vaccine"],as_index = False)
new_df= pd.DataFrame(BRFSS_groupby.count())
new_df

,Year,Flu Vaccine,State,Gender,Age-group,Race,Smoking,Myocardial Infarction,Coronary Artery Disease,Stroke,COPD,Kidney Disease,Diabetes,Flu Vaccine Date,Weighting Variable
0,2013,1.0,206106,206106,206106,206104,206106,206105,206106,206106,206105,206106,206101,206010,206106
1,2013,2.0,240464,240464,240464,240457,240463,240464,240464,240464,240464,240464,240463,0,240464
2,2013,7.0,951,951,951,951,951,951,951,951,951,951,951,0,951
3,2013,9.0,2786,2786,2786,2786,2786,2786,2786,2786,2786,2786,2786,0,2786
4,2014,1.0,205624,205624,205624,205591,205623,205624,205624,205624,205620,205624,205624,205452,205624
5,2014,2.0,233980,233980,233980,233935,233980,233980,233980,233980,233979,233980,233980,0,233980
6,2014,7.0,1161,1161,1161,1161,1161,1161,1161,1161,1161,1161,1161,0,1161
7,2014,9.0,1951,1951,1951,1950,1951,1951,1951,1951,1949,1951,1950,0,1951
8,2015,1.0,189500,189500,189500,189500,189500,189500,189499,189500,189500,189500,189496,188259,189500
9,2015,2.0,202712,202712,202712,202712,202712,202712,202712,202712,202712,202712,202709,0,202712
10,2015,7.0,953,953,953,953,953,953,953,953,953,953,953,0,953
11,2015,9.0,1906,1906,1906,1906,1906,1906,1906,1906,1906,1906,1906,0,1906
12,2016,1.0,205836,205836,205836,205836,205835,205835,205836,205836,205836,205836,205836,202617,205836
13,2016,2.0,251602,251602,251602,251602,251601,251602,251602,251602,251602,251602,251602,0,251602
14,2016,7.0,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,0,1559
15,2016,9.0,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717,0,1717
16,2017,1.0,5776,5776,5776,5776,5776,5776,5776,5776,5776,5776,5776,5757,5776
17,2017,2.0,7019,7019,7019,7019,7019,7019,7019,7019,7019,7019,7019,0,7019
18,2017,7.0,40,40,40,40,40,40,40,40,40,40,40,0,40
19,2017,9.0,138,138,138,138,138,138,138,138,138,138,138,0,138

In [24]:
new_df=new_df[["Year","Flu Vaccine","Weighting Variable"]]
new_df.set_index('Year')
Yearly=new_df["Weighting Variable"].sum(level="Year")
yearly_sum= pd.DataFrame(Yearly)
yearly_sum=yearly_sum.rename(columns= {"Weighting Variable" : "Yearly Total"})
new_df.reset_index(level=0,inplace = True, col_level = 0)
withyearlytotal= pd.merge(new_df,yearly_sum, on = "Year")

      Flu Vaccine  Weighting Variable
Year
2013          1.0              206106
2013          2.0              240464
2013          7.0                 951
2013          9.0                2786
2014          1.0              205624
2014          2.0              233980
2014          7.0                1161
2014          9.0                1951
2015          1.0              189500
2015          2.0              202712
2015          7.0                 953
2015          9.0                1906
2016          1.0              205836
2016          2.0              251602
2016          7.0                1559
2016          9.0                1717
2017          1.0                5776
2017          2.0                7019
2017          7.0                  40
2017          9.0                 138

In [28]:
Yearly=new_df["Weighting Variable"].sum(level=0)
Yearly

0     206106
1     240464
2        951
3       2786
4     205624
5     233980
6       1161
7       1951
8     189500
9     202712
10       953
11      1906
12    205836
13    251602
14      1559
15      1717
16      5776
17      7019
18        40
19       138
Name: Weighting Variable, dtype: int64

In [5]:
withyearlytotal
withyearlytotal["percentage"]= withyearlytotal["Weighting Variable"]/ withyearlytotal["Yearly Total"] *100
withyearlytotal

    Year  Weighting Variable  Yearly Total  percentage
0   2013              206106        450307   45.770108
1   2013              240464        450307   53.400014
2   2013                 951        450307    0.211189
3   2013                2786        450307    0.618689
4   2014              205624        442716   46.446029
5   2014              233980        442716   52.851038
6   2014                1161        442716    0.262245
7   2014                1951        442716    0.440689
8   2015              189500        395071   47.966062
9   2015              202712        395071   51.310271
10  2015                 953        395071    0.241222
11  2015                1906        395071    0.482445
12  2016              205836        460714   44.677609
13  2016              251602        460714   54.611321
14  2016                1559        460714    0.338388
15  2016                1717        460714    0.372682
16  2017                5776         12973   44.523241
17  2017                7019         12973   54.104679
18  2017                  40         12973    0.308333
19  2017                 138         12973    1.063748